.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 260px;
}
.box {
    background-color: #fff;
    width: 12rem;
    height: 25rem;
}

.form {
    display: flex;
    flex-direction: row;
}

.input1 {
    width: 18rem;
    height: 1.5rem;
    margin: auto;
    margin-top: 2rem;
}

.input2 {
    width: 18rem;
    height: 1.5rem;
    margin: auto;
    margin-top: 1rem;
}

.button {
    width: 18rem;
    height: 1.5rem;
    margin: auto;
    border-radius: 10px;
}

.link {
    text-align: center;
}
.headerlog {
    text-align: center;
}
@media only screen and (max-width: 500px) {

}