
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 190px;
}
.box {
    background-color: #fff;
    width: 40rem;
    height: 26rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.input1 {
    width: 18rem;
    height: 1.5rem;
    margin: auto;
    margin-top: 1rem;
}

.input2 {
    width: 18rem;
    height: 1.5rem;
    margin: auto;
    margin-top: 1rem;
}
.input3 {
    width: 18rem;
    height: 1.5rem;
    margin: auto;
    margin-top: 1rem;
}
.input4 {
    width: 18rem;
    height: 1.5rem;
    margin: auto;
    margin-top: 1rem;
}
.inputsec1{
    display: flex;
    justify-content: space-between;
}
.inputsec2{
    display: flex;
    justify-content: space-between;
}
.inputsec3{
    display: flex;
    justify-content: space-between;
}
.input5 {
    width: 18rem;
    height: 1.5rem;
    margin: auto;
    margin-top: 1rem;
}
.input6 {
    width: 38.5rem;
    height: 2rem;
    margin: auto;
    margin-top: 1rem;
}

.button {
    height: 2.2rem;
    margin: auto;
    background-color: #0BDA51;
    color: #fff;
    width: 38.5rem;
    margin-top: 2rem;
    border-color: #0BDA51 #0BDA51 #0BDA51 #0BDA51;
}
.link {
    text-align: center;
}
.headerlog {
    text-align: center;
}
@media only screen and (max-width: 425px) {
    .container {
        overflow: hidden; 
        margin-top: 90px;
        height: 690px;
    }
    .input6 {
        width: 18.5rem;
        height: 2rem;
        margin: auto;
        margin-top: 1rem;
    }
    .button {
        height: 2.2rem;
        margin: auto;
        background-color: #0BDA51;
        color: #fff;
        width: 18.5rem;
        margin-top: 2rem;
        border-color: #0BDA51 #0BDA51 #0BDA51 #0BDA51;
    }
    .inputsec1{
        flex-direction: column;
    }
    .inputsec2{
        flex-direction: column;
    }
    .inputsec3{
        flex-direction: column;
    }
}