body {
    color: #555;
    background-color: #fff;
    font-family: sans-serif;
  }
  
  .list-wrapper {
    max-width: 400px;
    margin: 50px auto;
  }
  
  .list {
    background: #C0C0C0;
    border-radius: 2px;
    list-style: none;
    padding: 10px 20px;
  }

  .list-item {
    display: flex;
    margin: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: space-around;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
 .role{
    margin-top: 25px;
    width: 5rem;
 }
 .list-users{
    text-align: center;
    color: #C0C0C0;
 }
 .name{
  width: 5rem;
 }